{% extends "belanjainaja/base.html" %}

{% block content %}
<div class="d-flex justify-content-between mb-3">
  <div>
    <h6 class="mb-0">Data Barang</h6>
    <p class="text-secondary mt-0 fst-italic fw-light" style="font-size: 13px;">Data barang yang akan muncul saat
      membuat catatan belanja.</p>
  </div>
  <a href="{% url 'belanja:item.create' %}">+ Tambah Barang</a>
</div>
{% if not latest_item_list %}
<p>data not available.</p>
{% else %}
<div class="table-responsive">
  <table class="table table-sm align-middle">
    <thead>
      <tr>
        <th>No.</th>
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for item in latest_item_list %}
      <tr>
        <td scope="row">{{forloop.counter}}</td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td class="d-flex justify-center align-items-center">
          <a href="{% url 'belanja:item.update' item.id %}" class="btn btn-sm btn-info me-1">Ubah</a>
          <form action="{% url 'belanja:item.delete' item.id %}" method="POST" class="mb-0">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-danger">Hapus</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>
{% endif %}
{% endblock %}