{% extends "belanjainaja/base.html" %}

{% block content %}
<div>
  <div class="row g-2">
    <h6 class="mb-0">Data jumlah keuangan</h6>
    <p class="text-secondary mt-0 fst-italic fw-light" style="font-size: 13px;">pemasukan, pengeluaran, dan saldo akhir.</p>
    <div class="col-md-4">
      <div class="card mb-3 rounded-3 shadow-sm">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="card-body">
              <h5 class="card-title">Pemasukan</h5>
              <p class="card-text">
                Rp{{ wallet.income}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-3 rounded-3 shadow-sm">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="card-body">
              <h5 class="card-title">Pengeluaran</h5>
              <p class="card-text">
                Rp{{ wallet.expenditure}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-3 rounded-3 shadow-sm">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="card-body">
              <h5 class="card-title">Saldo</h5>
              <p class="card-text">
                Rp{{ wallet.balance}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}