<a class="nav-link dropdown-toggle" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  {{request.user.username}}
</a>
<ul class="dropdown-menu dropdown-menu-light shadow-sm" aria-labelledby="profileDropdown">
  <li><a class="dropdown-item" href="{% url 'belanja:wallet.index' %}"><i class="bi bi-currency-dollar"></i> Cek Saldo</a></li>
  <li>
    <form action="{% url 'signout' %}" method="post">
      {% csrf_token %}
      <button class="dropdown-item btn btn-sm btn-danger w-100 text-danger" type="submit"><i class="bi bi-power"></i> Sign out</button>
    </form>
  </li>
</ul>